<app-nav></app-nav>
<figure class="text-center">
    <h1 class="display-6">Employees' Page</h1>
    <!-- <hr style="width:100%", size="3", color=black> -->
</figure>

<div class="text-center">
    <div class="btn-group text-center gap-xxl-5" role="group" aria-label="Basic example">
          <button type="button"  class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
              Employee Account
          </button>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-menu">View</a>
            <a href="#" class="dropdown-menu">Update</a>
          </div>

      <div class="dropdown pull-right">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="reimbursementMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Reimbursements
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <button type="button" class="dropdown-item" id="myReimbursements">View All</button>
            <button type="button" class="dropdown-item" id="pending" value="pending">View Pending</button>
            <button type="button" class="dropdown-item" id="resolved" value="resolved">View Resolved</button>
            <li><hr class="dropdown-divider"></li>
            <button type="button" class="dropdown-item" id="fileReimbursement">File New</button>
          </ul>
      </div>
</div>
</div>

<table>

</table>
<div id="newButton"></div>
<div id="error-div"></div>
<div id="savedData"></div>
